@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: #f8de7e;
}

a {
  text-decoration: none;
  color: #b07ef8;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
  color: #b07ef8;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}
.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: white;
}

input.inputBox {
  font-size: 22px;
  padding: 5px 8px 4px 8px;
  border-radius: 3px;
  border: 1px solid #b07ef8;
}

.calendarWrap {
  display: inline-block;
  position: relative;
}

.timer-countdown {
  color: green;
}

.calendarElement {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  border: 1px solid #ccc;
  z-index: 999;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 3px solid #b07ef8;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  background-color: white;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
  border: 2px solid #b07ef8 ;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.goal-desc {
  color: #000;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.timer-btn {
  padding: 20px 20px;
  border: 1px solid #7b58ae;
  border-radius: 5px;
  background: #b07ef8;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.btn {
  padding: 20px 20px;
  border: 1px solid #7b58ae;
  border-radius: 5px;
  background: #b07ef8;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.day-next {
  background-color: rgb(255, 255, 255);
}

.select-btn {
  
    padding: 20px 20px;
    border: 1px solid #7b58ae;
    border-radius: 5px;
    background: #b07ef8;
    color: #e6e6e6;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    appearance: button;
    display: flex;
    align-items: center;
    justify-content: center;
  
}




@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

._53Ji7 {
  padding: 2rem;
}
._53Ji7, ._53Ji7 * {
  box-sizing: border-box;
}
._1Lo2h {
  margin: 0 0 1rem 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
._2Jtxm {
  list-style: none;
  position: relative;
  text-align: center;
  flex: 1 1 auto;
  position: relative;

}
._2Jtxm::before {
  content: '';
  position: absolute;
  top: 50%;
  height: 3px;
  width: 100%;
  right: 50%;
  transform: translateY(-50%);
  z-index: -1;
  background: linear-gradient(to left, #e7eaf3 50%, #4db193 50%);
	background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 200ms ease-in-out;
}
._2Jtxm:first-child::before {
  content: none;
}
._2Jtxm ._2kL0S,
._2Jtxm ._2JvrO {
  background-color: #e7eaf3;
  color: var(--text-normal);
  border-radius: 100%;
  height: 1.5rem;
  width: 1.5rem;
  line-height: 2.5rem;
  display: inline-flex;
  transform-origin: center;
  align-items: center;
  justify-content: center;

}
._2kL0S, ._2JvrO {
  transition: background-color 250ms ease;

}
._2Jtxm ._1hzhf {
  color: var(--text-normal);
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);

}
._2Jtxm._2ZUAI ._2JvrO {
  background-color: #7b58ae;
  color: white;
  -webkit-animation: _3SDnc 400ms ease-in-out forwards;
          animation: _3SDnc 400ms ease-in-out forwards;

}
._2Jtxm._2ZUAI ._2JvrO:hover {
  background-color: #42997f;

}
._2Jtxm._35Ago ._2kL0S {
  background-color: #7b58ae;
  color: white;
  -webkit-animation: _JAh3L 400ms ease forwards;
          animation: _JAh3L 400ms ease forwards;
}
._2Jtxm._35Ago ._2kL0S:hover {
  background-color: #101011;

}
._2Jtxm._2ZUAI::before,
._2Jtxm._35Ago::before,
._2Jtxm._1CcaK::before {
  background-position: left bottom;
}
._2Jtxm._1CcaK ._2JvrO {
  color: white;
  background-color: #bb392d;
  -webkit-animation: _1ujce 350ms ease-in-out forwards;
          animation: _1ujce 350ms ease-in-out forwards;
}
._2_g61 {
  padding: 1rem;
}
._3uApM {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
._2pGos {
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
._3CDiP {
  border: 1px solid #7b58ae;
  
}
._3CDiP:hover {
  background-color: #7b58ae;
  box-shadow: 0px 3px 6px 0 rgba(190, 201, 228, 0.3);
}
._hsN1w {
  background-color: #7b58ae;
  border: 1px solid #7b58ae;
  color: white;
  
}
._hsN1w:hover {
  background-color: #7b58ae;
  border: 1px solid #7b58ae;
  box-shadow: 0px 3px 6px 0#7b58ae(57, 124, 246, 0.3);
}
._2pGos._2RWmX {
  pointer-events: none;
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
  cursor: default;
}

@-webkit-keyframes _JAh3L {
  0% { transform: scale(1); }
  10% { transform: scale(0.975); }
  40% { transform: scale(1.4); }
  50%, 100% { transform: scale(1.2); }
}

@keyframes _JAh3L {
  0% { transform: scale(1); }
  10% { transform: scale(0.975); }
  40% { transform: scale(1.4); }
  50%, 100% { transform: scale(1.2); }
}
@-webkit-keyframes _3SDnc {
  0% { transform: scale(1.2); }
  35%, 100% { transform: scale(1); }
}
@keyframes _3SDnc {
  0% { transform: scale(1.2); }
  35%, 100% { transform: scale(1); }
}
@-webkit-keyframes _1ujce {
  0% { transform: translateX(0); }
  15% { transform: translateX(0.2rem); }
  30%, 60% { transform: translateX(-0.4rem); }
  45%, 75% { transform: translateX(0.4rem); }
  90% { transform: translateX(-0.2rem); }
  100% { transform: translateX(0); }
}
@keyframes _1ujce {
  0% { transform: translateX(0); }
  15% { transform: translateX(0.2rem); }
  30%, 60% { transform: translateX(-0.4rem); }
  45%, 75% { transform: translateX(0.4rem); }
  90% { transform: translateX(-0.2rem); }
  100% { transform: translateX(0); }
}


body, html {
  height: 100%;  
}

body {
  margin: 0;
  background-color: #a9b9d1;

  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}

header {
  display: flex;
  text-align: left;
  margin-bottom: 20px;
}

header h1 {
  font-weight: bold;
  margin: 0;  
}

.day-names {
  font-size: 20px;
}

.calendar {  
  background-color: #ffffff;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(7, minmax(8px, 1fr));
  border-bottom: 2px solid #e7e7e7;
  border-left  : 2px solid #e7e7e7;
}

.borderless {
  border: 0;
}

.calendar h5 {
  margin: 0;
  padding: 10px;
  text-align: right;
  color: #3d3d3d;
}

.day {
  padding: 5px;
  text-align: center;
  font-weight: bold;
  border-top: 2px solid #e7e7e7;
  border-right: 2px solid #e7e7e7;
  cursor: pointer;
}
/*
.day:hover {
  background-color: #e7e7e7;
}*/

.task-day {
  display: flex;
  gap: 10px;
}

.task-day h3 {
  font-size: 1.5rem;
  margin-top: 0;
}

.tasks {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.tasks p { 
  text-align: left;
  margin: 1px 0px;  
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.task-form {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.task-form label{
  font-weight: bold;
  font-size: 1.5rem;
}

.task-form input[type=text] {
  font-size: 2rem;
  border: 1px solid gray;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px 10px;
}

.task-form > div:nth-child(4) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-form > div:nth-child(5) {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-form button {
  flex: 1;
}

.disabled {
  opacity: 0.5;
}

.selected-day {
  background-color: #e9e9e9;
}

.current-day {
  color: #e72f2f;
}

.month {
  flex: 1;
}

.nav {
  flex: 0;
  display: flex; 
  align-items: center;
}

.button svg {
  width: 18px;
  height: auto; 
  display: flex;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.button-orange {
  background-color: white; 
  color: black; 
  border: 2px solid #ffae00;
}

.button-orange:hover {
  background-color: #ffae00;
  color: white;
}

.button-green {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button-green:hover {
  background-color: #4CAF50;
  color: white;
}

.button-blue {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button-blue:hover {
  background-color: #008CBA;
  color: white;
}

.button-red {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
}

.button-red:hover {
  background-color: #f44336;
  color: white;
}

.button-white {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.button-white:hover {background-color: #e7e7e7;}

.button-gray {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button-gray:hover {
  background-color: #555555;
  color: white;
}

.add-button {
  height: 20px;
  border-radius: 5px;
  margin: 2px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  line-height: 100%;
}

.container {
  /* max-width: 800px; */
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color:  #f8de7e;
  border-radius: 20px;
  box-shadow: 5px 5px 8px gray;
}

.error {
  margin: 0;
  padding: 5px;
  color: #e7e7e7;
  background-color: #eb4a3f;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}

input::placeholder{
  color: #e4e4e4
}